<link rel="icon" href="images/favicon.ico">

<title>{{ page.title }}</title>

<!-- Bootstrap core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<style type="text/css">
  body {
    padding-top: 50px;
  }

  section {
    margin-bottom: 100px;
  }

  p {
    font-size: 18px;
  }
</style>

<!-- FontAwesomeのCDN -->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

<link href="css/accbox.css?2058" rel="stylesheet">
