<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="index.html">NAKKA-K Portfolio</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li {% if page.url == '/index.html' %} class="active" {% endif %}><a href="index.html"><span class="glyphicon glyphicon-home"></span> Home</a></li>
        <li {% if page.url == '/product.html' %} class="active" {% endif %}><a href="product.html"><span class="glyphicon glyphicon-folder-open"></span> Productions</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://www.facebook.com/sho.nakamura.7169"><img src="images/facebook_l.png"></a></li>
        <li><a href="https://github.com/NAKKA-K"><img src="images/github-light32.png"></a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

